* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "plain light";
  color: white;
}

html body {
  height: 100vh;
  width: 100%;
}
body{
  overflow-x: hidden;
}

.mouseFollower {
  /* height: 2vw;
  width: 2vw; */
  /* border-radius: 50%; */
  /* background-color: white; */
  border: 2px solid #ffffffbe;
  /* position: fixed; */
  /* z-index: 999999; */
 position: absolute;
  
  mix-blend-mode: difference;
  /* transform: translate(-50%, -50%); */
}

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999999;
  background-color: #000000;
  padding: 25vh 16vw;
}

.line {
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3vw;
}

.line h1 {
  font-size: 6vw;
  text-transform: uppercase;
  font-weight: 500;
}
#linepart1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2vw;
}
#linepart1 h5,
#linepart1 h6 {
  font-size: 2vw;
  font-family: "silk serif";
  font-weight: 100;
}
#linepart1 h6 span {
  margin-right: 1vw;
}

.line h2 {
  font-size: 4vw;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes anime {
  0% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }
  48% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
  }
  50% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    color: transparent;
    opacity: 1;
  }
  100% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    color: transparent;
    opacity: 0;
  }
}

#linepart1 h5 {
  /* background-color: red; */

  width: 4vw;
  text-align: right;
  /* overflow: hidden; */
}

#main {
  position:relative;
  
  background-color: #080606;
  /* background-color: black; */
}

#page1 {
  height:100vh;
  width:100%;
  background-color: #151515;
 
}

#page1 #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.3vw 5.3vw;
}

#navpart-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}

.hero {
  width: 100%;
  /* background-color: red; */
  margin-left: 23%;
  display: flex;
  height: fit-content;
  /* overflow-y:hidden; */
  position: relative;
  overflow: hidden;
  /* z-index: 99; */
}
#navpart-2 h4 {
  font-size: 1vw;
  font-weight: 500;
}

.hero:nth-child(2) {
  margin-top: 18vh;
}
.hero h1 {
  font-size: 6vw;
  text-transform: uppercase;
  line-height: 7vw;
  position: relative;
  width: 100%;
  margin-left: 7vw;
 
}
#hero1::before{
  content: "01";
  position: absolute;
  font-size: 3vw;
  font-family: "silk serif";
font-weight: 500;
left: 0%;

}


.hero h2 {
  font-size: 6vw;
  text-transform: uppercase;
  line-height: 7vw;
  border-bottom: 0.3vw solid white;
  padding-bottom: 0.5vw;
    overflow: hidden;
    /* margin-left: 7vw; */

}
.hero h3 {
  font-size: 6vw;
  text-transform: uppercase;
  line-height: vw;
  
  

}
#hero3{
  padding-left: 7vw;
  overflow: hidden;
}
.hero h2:hover {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  border: none;

}

#page2{
  height:100vh ;
  width: 100%;
  background-color: #151515;
  padding-top: 17vh;
  position: relative;
  /* z-index: 999; */
  /* margin-bottom: 20vh; */
}
#video-container{
  height: 65vh;
  width: 71vw;
  position: relative;
  left: 28%;
  pointer-events: auto;
  background-color: RED;
  overflow: hidden;
  
   background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
} 
#video-container img {
  position: absolute;
  height: 100%;
  width: 100%;
object-fit: cover;
top:0;
}

#video-container video{
 height: 100%;
 width: 100%;
 object-fit: cover;
 /* position: relative; */
 opacity: 0;
 
}
#video-cursor{
  background-color: #FFA63D;
  height: 8.5vw;
  width: 8.5vw;
  border-radius: 50%;
  position: absolute;
  top: 50%;   /* Center it vertically */
  left: 50%;  /* Center it horizontally */
  transform: translate(-50%, -50%);  /* Adjust for centering */
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* pointer-events: none;  */
  
}
#video-cursor i{
  font-size: 2vw;
}


#page3{
  min-height: 100vh;
  width: 100%;
  background-color: #151515;;
  position: relative;
  padding: 7vw 0;
  margin-bottom: 10vh;
  
}
#page3 h1{
  font-size: 7vw;
  text-transform: uppercase;
  margin-left: 28vw;
}

#page3 h1::before{
  content: "04";
  position: absolute;
  font-size: 3vw;
  font-family: "silk serif";
font-weight: 500;
left:-10%;
top: 1%;

}
#page3 .underline{
  margin-left: 28vw;
}

#image-container {
  /* background-color: red; */
  padding: 2vw;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3vw;
  margin-top: 20vh;

}
#images{
  height:33vw;
  width: 27vw;
  /* background-color: #3F7DF4; */
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  /* background-color: red; */
}
#images:nth-child(2){
  height:40vw;
  width: 30vw;
}
.hight img {
  height:40vw;
  width: 30vw;
}

 #images img{
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
 }



 #page3-circle{
  width: 23vw;
  height: 23vw;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-top: 20vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5vw;
  
}
#page3-circle svg{
  height: 40%;
}
#page3-circle2{
  width: 23vw;
  height: 23vw;
  border: 2px solid #fff;
  border-radius: 50%;
  /* margin-top: 15vh; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 40vw; */
  /* background-color: red; */
}
#page3-circle2 svg{
  height: 40%;
  rotate: -45deg;

}

#circlein{
  /* margin-top: 5vh; */
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 0;
  border-radius: 50%;
  transition: all ease 0.5s;
 
 
}


#circlein2{
  /* margin-top: vh; */
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 0;
  border-radius: 50%;
  transition: all ease 0.5s;
 
 
}
  

#page3-circle:hover #circlein{
 scale: 1;
 
}
#page3-circle:hover p{
scale: 1;
opacity: 1;
}   



#page3-circle2:hover #circlein2{
  scale: 1;
  
 }
 #page3-circle2:hover p{
 scale: 1;
 opacity: 1;
 }
#circlein p{
  font-size: 0.95vw;
  color: #000;
  font-weight: 500;
  width: 60%;
  scale: 0;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
  opacity: 0;

}
#circlein2 p{
  font-size: 0.95vw;
  color: #000;
  font-weight: 500;
  width: 60%;
  scale: 0;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
  opacity: 0;

}
#page4{
  min-height: 100vh;
  width: 100%;
  background-color: #151515;;
 position: relative;
 padding: 7vh 0; 
 margin-bottom: 20vh; 

}

#page4-content{
  width:72vw;
  margin-left: 28%;
  position: relative;

}
#page4-content h1{
  font-size: 7vw;
  text-transform: uppercase;
}

#page4-content h1::before{
  content: "04";
  position: absolute;
  font-size: 3vw;
  font-family: "silk serif";
font-weight: 500;
left:-10%;
top: 1%;

}
#page4-content .underline{
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin: 5vw 0;
}
#page4-content>p{
  font-size: 2.05vw;
  width: 50%;
  margin-bottom: 3vw;
}
#page4-flex{
  display: flex;
}
#page4-flex img{
  width: 48%;
}
#page4-flex p{
  font-size: 0.9vw;
  width: 19%;
  margin-left: 1vw;
}


#page4-blue-div{
  background-color: #3F7DF4;
  width: 33vw;
  padding: 3vw;
  position: relative;
  margin-top: -35vh;
  margin-left: 26vw;
}
.blue-div-elem{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* background-color: red; */
  padding: 1.7vw 0;
  border-bottom: 2px solid #ffffff94;
}
.blue-div-elem h4{
  font-size: 1.4vw;
  font-weight: 500;
}
.blue-div-elem p{
  width: 40%;
  font-size: 0.8vw;
}


#page5{
min-height: 100vh;
width: 100%;
position: relative;
background-color: #151515;;
}
.elem{

  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -1vw;
}

.elem h1{
   font-size: 7vw;
   -webkit-text-stroke: 2px white;
   font-weight: 400;
   color: transparent;
   text-transform: uppercase;
   display: inline-block;
   margin-right: 16px;
   /* background-color: red; */
   animation-name: animee;
   animation-iteration-count: infinite;
   animation-duration: 10s;
   animation-timing-function: linear;
   transition: color 0.5s ease;
}
@keyframes animee{
   from{
    transform: translateX(0);
   }
   to{
    transform: translateX(calc(-100% -  20px));
   }
}
.elem2{

  white-space: nowrap;
  overflow-x: hidden;
}

.elem2 h1{
   font-size: 7vw;
   -webkit-text-stroke: 2px white;
   font-weight: 400;
   color: transparent;
   text-transform: uppercase;
   display: inline-block;
   margin-right: 16px;
   /* background-color: red; */
   animation-name: animee;
   animation-iteration-count: infinite;
   animation-duration: 15s;
   animation-timing-function: linear;
   transform: translateX(calc(-100% - 20px));
   animation-direction: reverse;
   transition: color 0.8s ease;


    
}

.elem span ,elem2 span{
  font-style: italic;

  font-family: silk serif;
  color: transparent;
  transition: color 0.8s ease;
}
.elem h1:hover{
  color: red;
}
.elem h1 span:hover{
  color: pink;
  transition: ease-in
}
.elem2 h1:hover{
  color: rgb(144, 0, 255);
}
.elem2 h1 span:hover{
  color: pink;
  transition: ease-in
}

#footer{
  height: 100vh;
  position: relative ;
  width: 100%;
  padding-left: 28vw;
  padding-right: 4vw;
  background-color: #151515;;
}
#footer h1{
  font-size: 8vw;
/* margin-left: 2vw; */
  width: 70vw;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}
.underline{
  height: 2px;
  width: 100%;
  background-color: #989595;
  margin: 2vw 0;

}
#footer-div{
  padding-right: 20vw;
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  padding-top: 3vw;
  margin-bottom: 3vw;
  
}
.box{
  width: 20%;
  
  
  
}
.box h6{
  margin-bottom:1.5vw;
  font-size: 1.5vw;
  font-weight: 400;
}
.box h5 {
  font-size: 1.1vw;
  /* width: 1.2vw; */
  font-weight: 500;
}
#footer h1::before{
  content: "04";
  position: absolute;
  font-size: 3vw;
  font-family: "silk serif";
font-weight: 500;
left:-10%;
top: 2%;

}

._canvas_container{
  z-index: 999999999999 !important;
  pointer-events: none;
}
#flag{
  height: 25vw;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%,-50%);
opacity:0;
}

#hero3{
  z-index: 999;
  width: fit-content;
}





/* responsivness */
@media (max-width:600px) {
  
body{
  overflow: auto;
}



#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999999;
  background-color: #030303;
  padding: 25vh 5vw;
}

.line {
  /* background-color: red; */
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 3vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#linepart1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1vw;

}

#linepart11 h5,
#linepart1 h6 {
  font-size: 4vw;
  font-weight: 100;
  font-family: 'silk serif';
}

#linepart1 h5 {
  /* background-color: red; */
  width: 5vw;
  text-align: right;
}

.line h1 {
  font-size: 8.5vw;
  text-transform: uppercase;
  font-weight: 900;
}

.line h2 {
  font-size: 8vw;
  text-transform: uppercase;
  font-weight: 900;
  opacity: 0;
  /* animation-name: loaderAnim */
  -webkit-animation-duration: 2s;
          animation-duration: 2s;

  /* display: none; */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}




  #page1 {
    padding: 2vw;
    height:55vh;
    width:100%;
    background-color: #151515;
    padding-top: 1px;
   
  }
  
  #page1 #nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5.3vw 5.3vw;
    position: fixed;
    top:0;
    width: 100%;

  }
  
  #navpart-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
  }
  
  .hero {
    width: 100%;
    /* background-color: red; */
    
    margin-left: 5%;
    display: flex;
    height: fit-content;
    /* overflow-y:hidden; */
    position: relative;
    overflow: hidden;
    /* z-index: 99; */
  }
  #navpart-2 h4 {
    font-size: 1vw;
    font-weight: 500;
    display: none;
  }
  
  .hero:nth-child(2) {
    margin-top: 18vh;
  }
  .hero h1 {
    font-size: 9vw;
    text-transform: uppercase;
    line-height: 10vw;
    position: relative;
    width: 100%;
    margin-left: 7vw;
    font-weight: 550px;
   
  }
  #hero1::before{
    content: "01";
    position: absolute;
    font-size: 4vw;
    font-family: "silk serif";
  font-weight: 500;
  /* left: 5%; */

  
  }
  
  
  .hero h2 {
    font-size: 9vw;
    text-transform: uppercase;
    line-height: 10vw;
    border-bottom: 0.3vw solid white;
    padding-bottom: 0.5vw;
      overflow: hidden;
      /* margin-left: 7vw; */
  
  }
  .hero h3 {
    font-size: 6vw;
    text-transform: uppercase;
    line-height: vw;
    
    
  
  }
  #hero3{
    padding-left: 7vw;
    overflow: hidden;
  }
  
  #nav svg{
    scale: 0.8;
  }
   /*  page two */

   #page2{
    height:60vh ;
    width: 100%;
    background-color: #151515;
    padding-top: 6vh;
    position: relative;
    /* padding-bottom: 5vw; */
    /* z-index: 999; */
    /* margin-bottom: vh; */
  }
  #video-container{
    height: 50vh;
    width: 100vw;
    position: relative;
    left: 0%;
    pointer-events: auto;
    background-color: RED;
    overflow: hidden;
    
     background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
  } 
  #video-container img {
    position: absolute;
    height: 100%;
    width: 100%;
  object-fit: contain;
  top:0;
  }
  
  #video-container video{
   height: 100%;
   width: 100%;
   object-fit: cover;
   /* position: relative; */
   opacity: 0;
   
  }
  #video-cursor{
    background-color: #FFA63D;
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    position: absolute;
    top: 50%;   /* Center it vertically */
    left: 50%;  /* Center it horizontally */
    transform: translate(-50%, -50%);  /* Adjust for centering */
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* pointer-events: none;  */
    
  }
  #video-cursor i{
    font-size: 8vw;
  }
  /* pagethree */
  #page3{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;;
    position: relative;
    padding: 7vw 0;
  
    
  }
  #page3 h1{
    font-size: 9vw;
    text-transform: uppercase;
    margin-left: 5vw;
    /* margin-bottom: 4vw; */
  }
  
  #page3 h1::before{
    content: "02";
    position: absolute;
    font-size: 5vw;
    font-family: "silk serif";
  font-weight: 500;
  left:7%;
  top: -0.5%;
  
  }
  #page3 .underline{
    margin-left: 5vw;
    width: 94%;
  }
  
  #image-container {
    /* background-color: red; */
    padding: 2vw;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3vw;
    margin-top: 10vh;
    flex-direction: column;
  
  }
  #images{
    height:100vw;
    width: 95vw;
    /* background-color: #3F7DF4; */
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    /* background-color: red; */
  }
  #images:nth-child(2){
    height:110vw;
    width: 95vw;
  }
  .hight img {
    height:40vw;
    width: 30vw;
  }
  
   #images img{
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    margin-top: 4vw;
   }
  
  
  
   #page3-circle{
    width: 23vw;
    height: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-top: 20vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5vw;
    display: none;
  }
  #page3-circle svg{
    height: 40%;
  }
  #page3-circle2{
    width: 23vw;
    height: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    /* margin-top: 15vh; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 40vw; */
    /* background-color: red; */
    display: none;

  }
  #page3-circle2 svg{
    height: 40%;
    rotate: -45deg;
  
  }
  
  #circlein{
    /* margin-top: 5vh; */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0;
    border-radius: 50%;
    transition: all ease 0.5s;
   
   
  }
  
  
  #circlein2{
    /* margin-top: vh; */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0;
    border-radius: 50%;
    transition: all ease 0.5s;
   
   
  }
    
  
  #page3-circle:hover #circlein{
   scale: 1;
   
  }
  #page3-circle:hover p{
  scale: 1;
  opacity: 1;
  }   
  
  
  
  #page3-circle2:hover #circlein2{
    scale: 1;
    
   }
   #page3-circle2:hover p{
   scale: 1;
   opacity: 1;
   }
  #circlein p{
    font-size: 0.95vw;
    color: #000;
    font-weight: 500;
    width: 60%;
    scale: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    -webkit-transition-delay: 0.3s;
         -o-transition-delay: 0.3s;
            transition-delay: 0.3s;
    opacity: 0;
  
  }
  #circlein2 p{
    font-size: 0.95vw;
    color: #000;
    font-weight: 500;
    width: 60%;
    scale: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    -webkit-transition-delay: 0.3s;
         -o-transition-delay: 0.3s;
            transition-delay: 0.3s;
    opacity: 0;
  
  }


  /* fourth page */

  #page4{
 
    min-height: 100vh;
    width: 100%;
    background-color: #151515;;
   position: relative;
   /* padding: 10vh 0;  */
   padding-top: 20vw;
   /* margin-bottom: 20vh;  */
   padding: 2vw;
  
  }
  
  #page4-content{
    padding-top: 30vw;
    width:90vw;
    margin-left: 0%;
    position: relative;
    /* background-color: red; */
  
  }
  #page4-content h1{
    font-size: 10vw;
    text-transform: uppercase;
  }
  
  #page4-content h1::before{
    content: "04";
    position: absolute;
    font-size: 3vw;
    font-family: "silk serif";
  font-weight: 500;
  left:-10%;
  top: 1%;
  
  }
  #page4-content .underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 7vw 0 8vw 0;
  }
  #page4-content>p{
    font-size: 5.05vw;
    width: 90%;
    margin-bottom: 3vw;
  }
  #page4-flex{
    display: flex;
    flex-direction: column;
  }
  #page4-flex img{
    width: 100%;
    margin: 5vw 0 8vw 0;
  }
  #page4-flex p{
    font-size: 4vw;
    width: 90%;
    /* margin-left: 1vw; */
    margin-bottom: 5vw;
  }
  
  
  #page4-blue-div{
    background-color: #3F7DF4;
    width: 90vw;
    padding: 5vw;
    position: relative;
    margin-top: 0vh;
    margin-left: 0vw;
  }
  .blue-div-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: red; */
    padding: 4.7vw 0;
    border-bottom: 2px solid #ffffff94;
  }
  .blue-div-elem h4{
    font-size: 3.4vw;
    font-weight: 500;
  }
  .blue-div-elem p{
    width: 50%;
    font-size: 3.4vw;
  }


  /* fifthpage */
  #page5{
    padding-top: 30vw;
    min-height: 70vh;
    width: 100%;
    position: relative;
    background-color: #151515;;
    }
    .elem{
    
      white-space: nowrap;
      overflow-x: hidden;
      margin-bottom: -1vw;
    }
    
    .elem h1{
       font-size: 12vw;
       -webkit-text-stroke: 2px white;
       font-weight: 400;
       color: transparent;
       text-transform: uppercase;
       display: inline-block;
       margin-right: 16px;
       /* background-color: red; */
       animation-name: animee;
       animation-iteration-count: infinite;
       animation-duration: 15s;
       animation-timing-function: linear;
       transition: color 0.5s ease;
    }
    @keyframes animee{
       from{
        transform: translateX(0);
       }
       to{
        transform: translateX(calc(-100% -  20px));
       }
    }
    .elem2{
    
      white-space: nowrap;
      overflow-x: hidden;
    }
    
    .elem2 h1{
       font-size: 10vw;
       -webkit-text-stroke: 2px white;
       font-weight: 400;
       color: transparent;
       text-transform: uppercase;
       display: inline-block;
       margin-right: 16px;
       /* background-color: red; */
       animation-name: animee;
       animation-iteration-count: infinite;
       animation-duration: 25s;
       animation-timing-function: linear;
       transform: translateX(calc(-100% - 20px));
       animation-direction: reverse;
       transition: color 0.8s ease;
    
    
        
    }
    
    .elem span ,elem2 span{
      font-style: italic;
    
      font-family: silk serif;
      color: transparent;
      transition: color 0.8s ease;
    }
    .elem h1:hover{
      color: red;
    }
    .elem h1 span:hover{
      color: pink;
      transition: ease-in
    }
    .elem2 h1:hover{
      color: rgb(144, 0, 255);
    }
    .elem2 h1 span:hover{
      color: pink;
      transition: ease-in
    }
    
    /* footer */



    #footer{
      height: 100vh;
      position: relative ;
      width: 100%;
      padding-left: 5vw;
      padding-right: 5vw;
      margin-bottom: 20vw;
      background-color: #151515;;
    }
    #footer h1{
      font-size: 9.5vw;
    /* margin-left: 2vw; */
      width: 70vw;
      font-weight: 400;
      text-transform: uppercase;
      position: relative;
    }
    .underline{
      height: 2px;
      width: 100%;
      background-color: #f0f0f0;
      margin: 7vw 0;
    
    }
    #footer-div{
      padding-right: 20vw;
      display: flex;
      justify-content: space-between;
      align-items:flex-start;
      padding-top: 3vw;
      margin-bottom: 20vw;
      flex-direction: column;
      
    }
    .box{
      width: 30%;
      margin-bottom: 5vw;
      
      
    }
    .box h6{
      margin-bottom:5.9vw;
      font-size: 6.5vw;
      font-weight: 400;
    }
    .box h5 {
      margin-bottom: 3.5vw;
      font-size: 5.1vw;
      /* width: 1.2vw; */
      font-weight: 500;
    }
    #footer h1::before{
      content: "04";
      position: absolute;
      font-size: 4vw;
      font-family: "silk serif";
    font-weight: 500;
    left:1%;
    top: -50%;
    
    }
  }
  




