* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "plain light";
  color: white;
}

html body {
  height: 100vh;
  width: 100%;
}

.cursor {
  height: 2vw;
  width: 2vw;
  border-radius: 50%;
  /* background-color: rgb(137, 137, 137); */
  z-index: 999;
  position: fixed;
  border: 1px solid rgba(255, 255, 255, 0.988);
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
}

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  background-color: #000000;
  padding: 25vh 16vw;
}

.line {
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3vw;
}

.line h1 {
  font-size: 6vw;
  text-transform: uppercase;
  font-weight: 500;
}
#linepart1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2vw;
}
#linepart1 h5,
#linepart1 h6 {
  font-size: 2vw;
  font-family: "silk serif";
  font-weight: 100;
}
#linepart1 h6 span {
  margin-right: 1vw;
}

.line h2 {
  font-size: 4vw;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes anime {
  0% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }
  48% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
  }
  50% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    color: transparent;
    opacity: 1;
  }
  100% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    color: transparent;
    opacity: 0;
  }
}

#linepart1 h5 {
  /* background-color: red; */

  width: 4vw;
  text-align: right;
  /* overflow: hidden; */
}

.main {
  position: relative;

  background-color: #030303;
}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
}

#page1 #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.3vw 5.3vw;
}

#navpart-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}

.hero {
  width: 72%;
  /* background-color: red; */
  margin-left: 27%;
  display: flex;
  height: fit-content;
  overflow: hidden;
  position: relative;
  z-index: 99;
}
#navpart-2 h4 {
  font-size: 1vw;
  font-weight: 500;
}

.hero:nth-child(2) {
  margin-top: 18vh;
}
.hero h1 {
  font-size: 7vw;
  text-transform: uppercase;
  line-height: 7vw;
}
.hero h2 {
  font-size: 7vw;
  text-transform: uppercase;
  line-height: 7vw;
  border-bottom: 4px solid white;
}
.hero h3 {
  font-size: 7vw;
  text-transform: uppercase;
  line-height: 7vw;
  margin-left: 1vw;
}
.hero h2:hover {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  border: none;
}
